* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #265059;
    color: #e0e0d9;
}

h1 {
    font-weight: bold;
}

.titulo-destaque {
    color: #22d4fd;
}

.paragrafo-destaque {
    color: rgb(241, 130, 56);
}