@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #265059;
    color: #e0e0d9;
}

.apresentacao {
    margin: 10%;
    display: flex; /*Define um bloco/container para posicionar todos os elementos filho*/
    align-items: center;  /* Alinha todos elementos no eixo horizontal */
    justify-content: space-between; /*Espaçamento entre os elementos*/
}

h1 {
    font-weight: bold;  
}

.titulo-destaque {
    color: #22d4fd;
}

.paragrafo-destaque {
    color: rgb(241, 130, 56);
}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link {
    background-color: #22d4fd;
    width: 250px;  /*Valor aula 280px*/
    text-align: center;
    border-radius: 16px; /*Arredondar os cantos*/
    font-size: 24px;
    font-weight: 600;
    padding: 18px 0;  /*Valor aula 21.5px*/
    text-decoration: none; /*Remove o sublinhado dos links*/
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
}