@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:wght@300;600&display=swap');

:root {
    /*CORES*/
    --cor-bg: #265059;
    --cor-branco-texto: #e0e0d9;
    --cor-azul-texto: #22d4fd;
    --cor-orange-texto: #f18238;
    --cor-hover-azul: #1da2c0;
    --cor-hover-cinza: #353535;
    /*FONTES*/
    --font-open-sans: 'Open Sans', sans-serif;
    --font-source-sans: 'Source Sans Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-bg);
    color: var(--cor-branco-texto);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 3.125rem;
}

.cabecalho__menu__link {
    font-family: var(--font-source-sans);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cor-azul-texto);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-hover-azul);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-weight: bold;  
}

.paragrafo-destaque {
    color: var(--cor-orange-texto);
}

.apresentacao__conteudo {
    width: 39rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--font-open-sans);
}

.titulo-destaque {
    color: var(--cor-azul-texto);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--font-source-sans);
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-azul-texto);
}

.apresentacao__conteudo__texto a:hover {
    color: var(--cor-hover-azul);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-source-sans);
    font-weight: 600;
    font-size: 1.5rem;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 22.5rem;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor-azul-texto);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 0;
    text-decoration: none;
    color: var(--cor-branco-texto);
    font-family: var(--font-source-sans);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover-cinza);
    font-size: 1.5rem;
    color: var(--cor-azul-texto);
}

.rodape {
    color: var(--cor-branco-texto);
    background-color: var(--cor-azul-texto);
    font-family: var(--font-source-sans);
    font-weight: 600;
    padding: 1.5rem;
    text-align: center;
}